* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
    height: 100%;
    width: 100%;
}

/* cabecalho */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1% auto;
    height: 8%;
    }

ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    color:#FFF2E7;
    font-family: 'Sarala', sans-serif;
    font-size: 16px;
}

#logotopo {
    height: 100%;
    
}

/* corpo */

main {
    border-top: 0.4px solid #FFF2E7;
    
}

.colunas {
    display: flex;
    justify-content: space-around;
    margin: 1% auto;
    height: 30%;
}

#ballebot{
    height: 100%;
    flex-shrink: 4;
}

.textodomain{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}

.titulo{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #FFF2E7;
}

.subtitulo {
   color: #ECD6C4;
   font-family: 'Sarala';
   font-weight: 400;
   font-size: 24px;
}

button {
    width: 200px;
    height: 70px;
    background-color: #ECD6C4;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 14px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #2F2325;
    margin-left: 45px;
}

.linhas{
    margin: 2% auto;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

h2 {
    border-top: 0.4px solid #FFF2E7;
    font-family: 'Righteous', cursive;
    font-size: 24px;
    color: #FFF2E7;
    padding-top: 1%;
    padding-bottom: 1%;
}

.topicos {
    font-family:'Sarala', sans-serif;
    color: #ECD6C4;
    font-size: 16px;
}


footer{
    height: 8%;
    border-top: 0.4px solid #FFF2E7;
    padding: 1% 0;
}


#rodape{
    height: 100%; 
    display: block;
    margin: 0 auto;
}